.footer {
	background-color: $primary;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-cell {
	display: flex;
	flex-direction: column;

	ul {
		display: table-column;
	}
}